.gradient-background{
    -fx-background-color: linear-gradient(to right, rgb(60, 167, 153), rgb(200, 230, 225));
}

.line-color{
    -fx-background-color: rgba(60, 167, 153, 1);
    -fx-height: 12px;
}

.container{
    /*-fx-background-color: rgb(255,255,255,0.2);*/
    -fx-background-color: rgb(60,167,153);
    -fx-background-radius: 10;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
    -fx-color: white;
}

.axis{
    -fx-stroke: #fff;
    -fx-fill: #fff;
    -fx-font-size: 24;
    -fx-tick-lable-fill: #fff;
}

.default-color0.chart-pie{-fx-pie-color: transparent;}
.default-color1.chart-pie{-fx-pie-color: transparent;}
.default-color2.chart-pie{-fx-pie-color: transparent;}
.default-color3.chart-pie{-fx-pie-color: transparent;}

.chart-pie-label{
    -fx-fill: #FFD6DC;
    -fx-stroke: #FFD6DC;
    -fx-font-size: 15;
}

.chart-pie-line{
    -fx-fill: #FFD6DC;
    -fx-stroke: #FFD6DC;
}

.selected-button-container{
    -fx-background-color: rgba(255,255,255,0.15);
}
.button-container-mouse-moved:hover{
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-border-radius: 10;
}
.btnAddCart{
    -fx-background-color: #E93940;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btnBuyNow{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #e93940;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.container-client{
    -fx-background-color: rgb(255,255,255,0.2);
    -fx-border-radius: 10;
}
.line-color-client{
    -fx-background-color: #000000;
}
.checkout-container{
    -fx-background-color: #4B3B9D;
    -fx-background-radius: 20;
    -fx-border-color: #4B3B9D;
    -fx-border-radius: 20;
}
.checkout-textfield{
    -fx-background-radius:12;
    -fx-background-color: #8469C6;
}
.checkout-button{
    -fx-background-color: #3CE8C3;
    -fx-background-radius: 16;
    -fx-border-color: #3CE8C3;
    -fx-border-radius: 16;
}
.checkout-line-color {
    -fx-background-color: #8469C6;
    -fx-border-color: #8469C6;
    -fx-border-width: 1;
}
.list-product-line-color {
    -fx-background-color: #a0a0a0;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
}
.list-product-container{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
}
.cart-button{
    -fx-background-color: #FB5C7A;
    -fx-background-radius: 6;
    -fx-border-color: #FB5C7A;
    -fx-border-radius: 6;
    -fx-cursor: hand;
}
.pretty-checkbox {
    -fx-padding: 0;
    -fx-cursor: hand;
}

.pretty-checkbox .box {
    -fx-background-color: white;
    -fx-border-color: #FB5C7A;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(251, 92, 122, 0.2), 4, 0.3, 0, 0);
}

/* Chấm tròn nhỏ bên trong khi được chọn */
.pretty-checkbox:selected .mark {
    -fx-shape: "M0,0 A3,3 0 1,1 0.1,0 Z";
    -fx-background-color: #FB5C7A;
    -fx-background-radius: 50%;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
}

/* Ẩn mark khi chưa chọn */
.pretty-checkbox .mark {
    -fx-background-color: transparent;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.client-background {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #ff5f6d 0%, #ffc3a0 45%, #ffc3a0 55%, #6a82fb 100%);
}
.menu-background {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.btnAll {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}
.btnAll:hover{
    -fx-cursor: hand;
}
.btnAll:pressed {
    -fx-background-color: #E93940;
    -fx-text-fill: white;
}
.text-area {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: rgb(255,255,255,0.2);
    -fx-border-radius: 10;
}

.text-area .content {
    -fx-background-color: transparent !important;
    -fx-background-radius: 0;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-area:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.image-view {
    -fx-object-fit: cover;
}
.buy-now
{
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #ff5f6d 0%, #ffc3a0 45%, #ffc3a0 55%, #6a82fb 100%);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}
.buy-now:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #e74c3c, #f39c12);
        -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-background-radius: 10;
        -fx-border-radius: 10;
}
.back {
    -fx-background-color: transparent;
        -fx-text-fill: #e74c3c; /* Màu đỏ cam */
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-border-color: #e74c3c;
        -fx-border-width: 1px;
        -fx-border-radius: 15px;
        -fx-padding: 5px 15px;
        -fx-cursor: hand;
}
.back:hover {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15;
}
.quantity-btn {
    -fx-background-color: #f39c12;
        -fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-font-size: 12px;
        -fx-min-width: 25px;
        -fx-min-height: 25px;
        -fx-padding: 0;               /* Quan trọng */
            -fx-background-radius: 3px;
            -fx-border-radius: 3px;
            -fx-alignment: center;
            -fx-cursor: hand;
}
.quantity-btn:hover {
     -fx-background-color: #e67e22;
}
.btnAddToCart-detail {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #fddb92, #d1fdff);
    -fx-text-fill: black;
        -fx-font-size: 14px;
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-cursor: hand;
}
.btnAddToCart-detail:hover {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #fbcb6a, #a0f8ff);
        -fx-text-fill: black;
            -fx-font-size: 14px;
            -fx-background-radius: 10;
            -fx-border-radius: 10;
}

.cart-text {
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.categories-button{
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.categories-button:hover {
    -fx-cursor: hand;
}

.product-item-box{
    -fx-padding: 10;
    -fx-border-color: rgb(255,255,255,0.2);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: rgb(255,255,255,0.2);
}

.selected-category{
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}
.unselected-category{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-cursor: hand;
}

.container-payment{
    -fx-background-color: rgb(255,255,255,0.2);
    -fx-border-radius: 20;
}

.delete-button{
    -fx-cursor: hand;
}